@font-face {
  font-family: "Space-Grotesk";
  src: url("../font/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeueCyr-Thin.ttf");
}

$grey: #F4F4F4;
$forText: #676767;
$backgroundProduct: #F4F4F4;
$helveticaNeue: "Helvetica Neue", sans-serif;
$spaceGrotesk: "Space-Grotesk", sans-serif;